// Background colors
$background--gray: #f3f3f4;
$background--white: #fff;
// Primary colors
$brand-color--dark-blue: #2f4050;
$brand-color--teal: #1ab394;
// Accent colors
$accent-color--orange: #f8ac59;
$accent-color--blue: #1c84c6;
$accent-color--aqua: #23c6c8;
$accent-color--gray: #5e5e5e;
// Element colors
$border-color--gray: #e7eaec;
$text-color--gray: #676a6c;

html {
  background-color: $background--gray;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $text-color--gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h5 {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  margin: 10px;
}

.navbar-toggler {
  background-color: $brand-color--teal;
  padding: 4px 12px;
  margin: 14px 5px 5xp 20px;
  outline: none;
  border: none;
}

.fa-bars {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 4px 3px;
}

a:hover .nav-icon:before {
  color: #fff;
}

.nav-icon {
  color: $text-color--gray;
  display: inline-block;
}

.nav>li>a {
  color: #a7b1c2;
  font-weight: 300;
  padding: 10px 15px 10px 15px;
  display: block;
}

.nav>li>a i {
  margin-right: 6px;
}

.nav>li>a:hover {
  color: #fff;
}

.nav>li.active>a {
  color: #fff;
}

.navbar-links li {
  display: inline-block;
  align-self: center;
}

.nav.navbar-links li a {
  color: #999c9e;
  font-size: 14px;
  padding: 20px 10px;
  text-align: right;
}

.navbar-label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 5px;
}

.wrapper {
  padding: 0 15px;
}

.gray-bg {
  background-color: $background--gray;
}

.white-bg {
  background-color: #fff;
}

.welcome-message {
  margin-right: 10px;
  padding: 20px;
  font-size: 13px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  overflow-x: hidden;
}

.dashboard-header {
  border-top: 0;
  border-bottom: 1px solid $border-color--gray;
  background-color: #fff;
  padding: 20px 20px 20px 50px;
}

.account-info {
  padding: 20px 20px 20px 50px;
}

.dashboard-content {
  padding: 20px 10px 30px;
}

.dashboard-col-title {
  background-color: #fff;
  border-color: $border-color--gray;
  border-style: solid solid none;
  border-width: 1px;
  margin-bottom: 0;
  padding: 15px 90px 10px 15px;
  border-radius: 2px 2px 0 0;
}

.dashboard-col-title h6 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
}

.spending-icon {
  font-size: 14px;
  margin-left: 2px;
  color: $brand-color--teal;
}

.dashboard-col-content {
  clear: both;
  background-color: #fff;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 15px 20px 20px 20px;
  border-color: $border-color--gray;
  border-style: solid;
  border-width: 1px;
}

.dashboard-col {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.card {
  background-color: #fff;
  border: none;
}

#chart_div {
  height: 500px;
}

.footer {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid $border-color--gray;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $text-color--gray;
  font-size: 12px;
}

.pt-16{
  padding-top: 16px;
}

.list-group{
    max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}