@import "components/color-variables";
$primary-color: #293462; //rgb(41, 52, 98)
$primary-color-light: #565D90; //rgb(86, 93, 144)
$primary-color-dark:#000E37; //rgb(0, 14, 55)
$secondary-color: #216583; //rgb(33, 101, 131)
@import "materialize";

html {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}

.main {
  color: blue;
}
