// Background colors
$background--gray: #f3f3f4;
$background--white: #fff;
// Primary colors
$brand-color--dark-blue: #2f4050;
$brand-color--dark-blue-2: #2a3745;
$brand-color--teal: #1ab394;
// Accent colors
$accent-color--orange: #f8ac59;
$accent-color--blue: #1c84c6;
$accent-color--aqua: #23c6c8;
$accent-color--gray: #5e5e5e;
// Element colors
$border-color--gray: #e7eaec;
$text-color--gray: #676a6c;


html {
  background-color: $background--gray;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $text-color--gray;
  overflow-x: hidden;
}

a {
  color: $text-color--gray;
  font-weight: 600;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h5 {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  margin: 10px;
}

.navbar-toggler {
  background-color: $brand-color--teal;
  padding: 4px 12px;
  margin: 5px 5px 5px 20px;
  outline: none;
  border: none;
}

.fa-bars {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 4px 3px;
}

a:hover .nav-icon:before {
  color: #fff;
}

.nav-icon {
  color: $text-color--gray;
  display: inline-block;
}

.nav>li>a {
  color: #a7b1c2;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  display: block;
}

.nav>li>a i {
  margin-right: 6px;
}

.nav>li>a:hover {
  color: #fff;
}

.nav>li.active>a {
  color: #fff;
}

.navbar-links li {
  display: inline-block;
  align-self: center;
}

.nav.navbar-links li a {
  color: #999c9e;
  font-size: 14px;
  padding: 20px 10px;
  text-align: right;
}

.navbar-label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 5px;
}

.navbar-label.logout {
  font-weight: 600;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar.navbar-top {
  padding: 0;
  width: 100%;
}

#dashboard-wrapper {
  padding: 0;
  position: relative;
  min-height: 100vh;
  flex-shrink: 1;
  // width: calc(100% - 60px);
  width: 100%;
}

.gray-bg {
  background-color: $background--gray;
}

.white-bg {
  background-color: #fff;
}

.welcome-message {
  margin-right: 10px;
  padding: 20px;
  font-size: 13px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  overflow-x: hidden;
}

.dashboard-header {
  border-top: 0;
  border-bottom: 1px solid $border-color--gray;
  background-color: #fff;
  padding: 20px 20px 20px 50px;
}

.account-info {
  padding: 20px 20px 20px 50px;
}

.dashboard-content {
  padding: 20px 10px 30px;
}

.dashboard-col-title {
  background-color: #fff;
  border-color: $border-color--gray;
  border-style: solid solid none;
  border-width: 1px;
  margin-bottom: 0;
  padding: 15px 90px 10px 15px;
  border-radius: 2px 2px 0 0;
}

.dashboard-col-title h6 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
}

.spending-icon {
  font-size: 14px;
  margin-left: 2px;
  color: $brand-color--teal;
}

.dashboard-col-content {
  clear: both;
  background-color: #fff;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 15px 20px 20px 20px;
  border-color: $border-color--gray;
  border-style: solid;
  border-width: 1px;
}

.dashboard-col {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.card {
  background-color: #fff;
  border: none;
}

#chart_div {
  height: 500px;
}

.footer {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid $border-color--gray;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $text-color--gray;
  font-size: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

// SAVINGS PROGRESS BAR STYLES
.progress {
  margin-top: 50px;
  height: 30px;
}

.progress-bar {
  background-color: $accent-color--aqua;
}

.savings-prog,
.savings-text {
  text-align: center;
  font-weight: 400;
}

.savings-prog {
  margin-top: 30px;
  font-size: 40px;
}

// NET WORTH STYLES
#chart_row {
  height: 210px;
}

#net_worth_text,
#net_worth_amt {
  text-align: center;
}

#net_worth_val {
  font-weight: 400;
  font-size: 40px;
}

#net_worth_text>h4 {
  margin-top: 170px;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

.nav {
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav.menu>li {
  display: block;
  width: 100%;
  position: relative;
}

.navbar-default {
  background-color: $brand-color--dark-blue;
}

.nav-header {
  padding: 15px 15px;
  background-color: $brand-color--dark-blue;
}

.menu>li>a:hover {
  background-color: $brand-color--dark-blue-2;
}

#navbar-logo {
  height: 3em;
  width: 3em;
  margin-left: -15px;
  margin-top: -5px;
}

#sidebar.active {
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}

#sidebar .sidebar-collapse div {
  display: none;
}

#sidebar.active .sidebar-collapse h4 {
  display: none;
}

#sidebar.active .sidebar-collapse div {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

#sidebar.active ul li a span {
  display: none;
}

#menu-button {
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 2001;
    width: 220px;
  }
}

@media (min-width: 768px) {
  #dashboard-wrapper {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  #sidebar.active {
    min-width: 60px;
    max-width: 60px;
    margin-left: -60px !important;
  }

  #sidebar {
    margin-left: 0;
  }

  #sidebar .sidebar-collapse div {
    display: none;
  }

  #sidebar.active .sidebar-collapse h4 {
    display: none;
  }

  #sidebar.active .sidebar-collapse div {
    display: block;
  }

  #sidebar.active ul li a {
    font-size: 0.85em;
    text-align: center;
  }

  #sidebar.active ul li a i {
    margin-right: 0px;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}