{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Settings -->
<div class="container pt-2">
  <!-- Change username -->
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-group">
          <label for="email">Change your email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll send a confirmation email</small>
        </div>
        <div class="form-group">
          <label for="picture-file">Upload new profile picture</label>
          <input type="file" class="form-control-file" id="picture-file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}