{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block body %}
<!-- Welcome Header -->
<div class="container-fluid">
  <div class="row dashboard-header white-bg">
    <div class="col-sm-12 text-center">
      <h2>Welcome</h2>
      <small>Your account information is below.</small>
    </div>
  </div>
</div>
<!-- Account Information -->
<div class="container-fluid account-info white-bg">
  <div class="row">
    <!-- Account Balances -->
    <div class="account-table col-sm-12 col-md-4">
      <h5 class="text-center">Depository Account Balances</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><strong>Account</strong></th>
            <th><strong>Balance</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts | selectattr("type", "equalto", "depository") %}
          <tr>
            <td>{{ account.name }}</td>
            <td>${{ account.balance }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Spending Breakdown -->
    <div class="spending-breakdown col-sm-5">
      <h5 class="text-center">Spending Breakdown</h5>
      <div id="expenses_chart"></div>
      <p class="spending-text text-center">Total Expenses: <a id="spending_total"></a></p>
    </div>
  </div>
  <div class="row">
    <!-- Savings Progress Bar -->
    <div class="savings col-sm-12 col-md-3">
      <h5 class="text-center">Savings Progress</h5>
      <div class="progress active">
        <div class="progress-bar" role="progressbar"></div>
      </div>
      <p class="savings-text">You have saved <a href="#" class="savings-prog"><span class="savings-prog"></span></a> of
        <br>your <span class="savings-goal"></span> goal!</p>
    </div>
    <!-- Transactions -->
    <div class="transactions col-md-5 col-sm-12">
      <h6 class="text-center">Transactions (past 30 days)</h6>
      <table class="table table-striped table-sm" id="transaction_table">
        <thead>
          <tr>
            <th><strong>Date</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Category</strong></th>
            <th><strong>Amount</strong></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<!-- Dashboard Content -->
<div class="container dashboard-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="dashboard-col spending-breakdown">
        <div class="dashboard-col-title">
          <h5 class="section-title">Net Worth Summary</h5>
          <img src="../static/images/iconmonstr-banknote-15.svg" alt="dollar sign" class="spending-icon">
        </div>
        <div class="dashboard-col-content">
          <!-- Net Worth Summary -->
          <div class="row net-worth" id="chart_row">
            <div class="col-sm-4" id="net_worth_text">
              <h4 class="total-net-worth"><span>Net Worth</span></h4>
              <div id="net_worth_amt">
                <h4 id="net_worth_val"></h4>
              </div>
            </div>
            <div class="assets col-sm-4">
              <h6 class="text-center chart-title">Assets</h6>
              <div id="assets_chart"></div>
            </div>
            <div class="liabilities col-sm-4">
              <h6 class="text-center chart-title">Liabilities</h6>
              <div id="liabilities_chart"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <h7>Total Assets: <a id="assets_total"></a></h7>
              <table class="table table-striped" id="asset_table">
                <thead>
                  <tr>
                    <th><strong>Account</strong></th>
                    <th><strong>Balance</strong></th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="col-sm-4">
              <h7>Total Liabilities: <a id="liabilities_total"></a></h7>
              <table class="table table-striped" id="liability_table">
                <thead>
                  <tr>
                    <th><strong>Account</strong></th>
                    <th><strong>Balance</strong></th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google charts file -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/index.js')}}"></script>
<script type="text/javascript">
  accounts = net_worth_calc({{accounts|tojson}})
  accounts = prog_bar({{accounts|tojson}})
  transactions = spending_breakdown({{transactions|tojson}})
</script>

{% endblock %}
