{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block body %}
<!-- Welcome Header -->
<div class="container-fluid">
  <div class="row dashboard-header white-bg">
    <div class="col-md-3">
      <h2>Welcome</h2>
      <small>Your account information is below.</small>
    </div>
  </div>
</div>
<!-- Account Information -->
<div class="container-fluid account-info white-bg">
  <div class="row">
    <!-- Account Balances -->
    <div class="col-sm-4 col-md-4">
      <h5 class="text-center">Account Balances</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><strong>Account</strong></th>
            <th><strong>Balance</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts | selectattr("type", "equalto", "depository") %}
          <tr>
            <td>{{ account.name }}</td>
            <td>${{ account.balance }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Savings Progress Bar -->
    <div class="col-sm-4">
      <h5 class="text-center">Savings Progress</h5>
      <div class="progress active">
        <div class="progress-bar" role="progressbar"></div>
      </div>
      <p class="savings-prog"></p>
      <p class="savings-text">saved of your <span class="savings-goal"></span> goal!</p>
    </div>
    <div class="col-sm-4">
      <h5 class="text-center">Stock Performance</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h5 class="text-center">Spending Breakdown</h5>
    </div>
    <div class="col-sm-4">
      <h5 class="text-center">Debt Breakdown</h5>
    </div>
    <div class="col-sm-4">
      <h5 class="text-center">Net Worth Tracker</h5>
    </div>
  </div>
</div>
<!-- Dashboard Content -->
<div class="container dashboard-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="dashboard-col spending-breakdown">
            <div class="dashboard-col-title">
              <h6>New spending data!</h6>
              <i class="fas fa-search-dollar spending-icon"></i>
            </div>
            <div class="dashboard-col-content">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-col">
            <div class="dashboard-col-title">
              <h6>New spending data!</h6>
              <i class="fas fa-search-dollar spending-icon"></i>
            </div>
            <div class="dashboard-col-content">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-col spending">
            <div class="dashboard-col-title">
              <h6>New spending data!</h6>
              <i class="fas fa-search-dollar spending-icon"></i>
            </div>
            <div class="dashboard-col-content">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  /* Savings progress bar functionality */
  var savingsGoal = 500;
  var savingsBalance = {{ accounts | safe }}.filter( e => e.subtype == "savings")[0].balance;
  var savingsProg = (savingsBalance / savingsGoal) * 100;

  $(".progress-bar").html('$' + savingsBalance);
  $(".savings-prog").html(savingsProg + '%');
  $(".savings-goal").html('$' + savingsGoal);

  // Animates the width of the savings progress bar. Is executed by adding the ".active" class 
  // to the ".progress" element
  var current_width = 1;
  var progress = setInterval(() => {
    var $bar = $('.progress-bar');

    if (current_width >= savingsProg) {
        clearInterval(progress);
        $('.progress').removeClass('active');
    } else {
        ++current_width;
        $bar.width(current_width + "%");
    }

  }, 10);

</script>

{% endblock %}