{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Stock Prices Chart -->
<div class="container-fluid gray-bg pt-2">
  <h4 class="text-center">Investments</h4>
  <div class="row">
    {% for i in range(config_len) %}
    <div class="col-sm-12 col-md-6">
      <div class="card mx-auto border">
        <h5 class="card-title text-center font-weight-bold">{{ config["symbols"][i] }}</h5>
        <div class="card-body">
          <div id="chart-div-{{ i }}"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Investment Sectors breakdown -->
<div class="container-fluid gray-bg pt-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card mx-auto border">
        <h5 class="card-title text-center font-weight-bold">Sectors Breakdown</h5>
        <div class="card-body">
          <div id="sectors_chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gray-bg pt-3">
  <div class="row">
    <!-- Stocktwits feed -->
    <div class="col-sm-12 col-md-6 pb-5">
      <h4 class="text-center">Stocktwits Feed</h4>
      <div class="list-group">
        <!--TODO check for error codes-->
        {% for msg in messages %}
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <img src="{{ msg["user"]["avatar_url_ssl"] }}" alt="Avatar" class="img-fluid avatar">
            <h5 class="mb-1 font-weight-bold">{{ msg["user"]["name"] }}</h5>
            <small>{{ msg["created_at"] }}</small>
          </div>
          <p class="mb-1">{{ msg["body"] }}</p>
          <span class="badge badge-info badge-pill">{{ msg["entities"]["sentiment"]["basic"] }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- News feed -->
    <div class="col-sm-12 col-md-6 pb-5">
      <h4 class="text-center">News Feed</h4>
      <div class="list-group">
        <!--TODO check for error codes-->
        {% for msg in news_messages %}
        <a href="{{ msg["url"] }}" target="_blank" rel="noopener" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ msg["headline"] }}</p>
            <small>{{ msg["datetime"] }}</small>
          </div>
          <small>{{ msg["source"] }}</small>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Needed to pass variables from flask to js -->
<script type="text/javascript">
  let config = ({{ config|tojson }});
  let symbols = config['symbols'];
  let ranges = config['ranges'];
  let sectors = config['sectors'];
  let allocations = config['allocations'];
</script>
<!-- Google charts file --> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/portfolio.js')}}"></script>

{% endblock %}