{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mx-auto">
        <div class="card-body">
          <div id="chart_div"></div>
        </div>
      </div>
    </div>
  </div>
 </div>
<!-- Needed to pass variables from flask to js -->
<script type="text/javascript">
  let config = ({{ config|tojson }});
  let symbols = config['symbols'];
  let ranges = config['ranges'];
</script>
<!-- Google charts file --> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/portfolio.js')}}"></script>

{% endblock %}